# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore all files created by mac
._*

# Ignore bin directory
cross-platform-socket/bin/

#Ignore debug directory
cross-platform-socket/debug

#Ignore objects
*.o
